<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>212108763277-mfthu0sol8d8rf4i7nqpsl7obkj2qo6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.212108763277-mfthu0sol8d8rf4i7nqpsl7obkj2qo6a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>212108763277-vg0e4lqp4uphi42vl26pgmnd2vv7jkbm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZHin9Ke1xWU-atuKVGJab3L2jy--JMPY</string>
	<key>GCM_SENDER_ID</key>
	<string>212108763277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hgmr.app</string>
	<key>PROJECT_ID</key>
	<string>hgmr-9109e</string>
	<key>STORAGE_BUCKET</key>
	<string>hgmr-9109e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212108763277:ios:531e1fc01e7d709e5102c4</string>
</dict>
</plist>